a:hover{
    color: #6B017E;
}

.about{
    background-color:rgb(210, 1, 247);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 3vw;
}

.border{
    background-position: center;
    background-repeat: repeat;
    height: 2vh;
    opacity: 0.659;
    width: 75vw !important ;
}

.border-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.border-container2 {
    direction: rtl;
    display: flex;
}

.description{
    background-color:rgb(210, 1, 247);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 2vw;
}

.experience{
    background-color:rgb(210, 1, 247);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 2vw;
}

.greeting{
    background-color:rgb(210, 1, 247);
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 7vw;
}

.menu{
    background-color:rgb(210, 1, 247);
    background-width: 100%;
    border-color: #6B017E;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    color: #6B017E;
    font-size: 2vw;
    width: 10em;
}

.underline{
    text-decoration: underline;
}