{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Background</title>
{% endblock %}

{% block content %}
    <div class="col-md-auto" >
        <div class="row">
            <div class="col-md-auto">
                <p class="text-center px-2 about">
                    <strong>BACKGROUND</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <p class="text-center px-2 about">
                    <strong>Experience</strong>
                </p>
            </div>
        </div>
        <div class="d-flex flex-row float-right">
            <div class="col justify-content-start align-self-start">
                <img src="{% static 'Assets/Compfest.png' %}" class="float-right" alt="Compfest Logo" width="100vw">
            </div>
            <div class="col-md-auto align-self-start">
                <p class="text-justify p-2 experience">
                    COMPFEST 11<br>
                    Indie Game <br>
                    Ignite Staff
                </p>
            </div>
            <div class="col justify-content-end align-self-start">
                <img src="{% static 'Assets/Fasilkom t.png' %}" class="float-right" alt="Fasilkom Logo" width="100vw">
            </div>
            <div class="col-md-auto align-self-start">
                <p class="text-justify p-2 experience">
                    Teaching Assistant<br>
                    Coordinator
                    Introduction<br>
                    to Digital Systems<br> 2019/2020
                </p>
            </div>
        </div>
        <div class="row mb-3 border-container">
            <div class="border" style="background-image: url({% static 'Assets/pline.png' %})"></div>
        </div>
        <div class="d-flex flex-row w-75 float-left">
            <div class="col justify-content-start align-self-start">
                <img src="{% static 'Assets/OH.png' %}" class="float-left" alt="OH Logo" width="100vw">
            </div>
            <div class="col-md-auto align-self-start">
                <p class="text-justify p-2 experience">
                    Open House <br>
                    Fasilkom UI 2018<br>
                    Public Relation <br>
                    and Publication Staff
                </p>
            </div>
            <div class="col justify-content-start align-self-start">
                <img src="{% static 'Assets/BEM t.png' %}" class="float-left" alt="BEM Logo" width="100vw">
            </div>
            <div class="col-md-auto align-self-start">
                <p class="text-justify p-2 experience">
                    BEM FASILKOM<br>
                    UI 2019 <br>
                    Scientific Department<br>
                    Staff
                </p>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-auto">
        <div class="row">
            <div class="col-md-auto">
                <p class="text-center px-2 about">
                    <strong>Education</strong>
                </p>
            </div>
        </div>
        <div class="d-flex flex-row w-75 float-left">
            <div class="col justify-content-start align-self-start">
                <img src="{% static 'Assets/Semut-semut.jpg' %}" class="float-left" alt="Semut-semut Logo" width="100vw">
            </div>
            <div class="col-md-auto align-self-start">
                <p class="text-justify p-2 experience">
                    Elementary School<br>
                    Semut-Semut <br>
                    the Natural School
                </p>
            </div>
            <div class="col justify-content-end align-self-start">
                <img src="{% static 'Assets/Al Izhar t.png' %}" class="float-left" alt="Al Izhar Logo" width="100vw">
            </div>
            <div class="col-md-auto align-self-start">
                <p class="text-justify p-2 experience">
                    High School<br>
                    Al Izhar Pondok Labu
                </p>
            </div>
        </div>
        <div class="row mb-3 border-container">
            <div class="border" style="background-image: url({% static 'Assets/pline.png' %})"></div>
        </div>
        <div class="d-flex flex-row float-right">
            <div class="col justify-content-start align-self-start">
                <img src="{% static 'Assets/Al Izhar t.png' %}" class="float-right" alt="Al Izhar Logo" width="100vw">
            </div>
            <div class="col-md-auto align-self-start">
                <p class="text-justify p-2 experience">
                    Middle School<br>
                    Al Izhar Pondok Labu
                </p>
            </div>
            <div class="col justify-content-end align-self-start">
                <img src="{% static 'Assets/Fasilkom t.png' %}" class="float-right" alt="Fasilkom Logo" width="100vw">
            </div>
            <div class="col-md-auto align-self-start">
                <p class="text-justify p-2 experience">
                    Student at <br>
                    Faculty of Computer <br>
                    Science of Universitas <br>
                    Indonesia
                </p>
            </div>
        </div>
    </div>
{% endblock %}