{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Challenge</title>
{% endblock %}

{% block content %}
    <div class="row border-container">
        <p class="text-center p-2 menu" data-toggle="modal" data-target="#ModalChallenge">
            <strong>CHALLENGE!!<br>
                CLICK ME
            </strong>
        </p>
    </div>

    <div class="modal fade" id="ModalChallenge" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Modal Challenge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Modal implementation for Story 3 Challenge. Also used for additional page condition in Story 3.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}