{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Contact</title>
{% endblock %}

{% block content %}
    <div class="col-md-auto">
        <div class="row">
            <div class="col-md-auto">
                <p class="text-center px-2 about">
                    <strong>Contact Me</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <p class="text-justify px-2 description">
                    Email: anggriosutopo@gmail.com<br>
                    Line ID: rio-0<br>
                    Whatsapp/Phone: +6281806815502
                </p>
            </div>
        </div>
    </div>
    <div class="row border-container">
        <div class="col-md-auto py-4 about" >
            <a href="https://www.facebook.com/profile.php?id=100024044436199" target="_blank">
                <img src="{% static 'Assets/Instagram.png' %}" class="float-right" alt="Instagram Logo" height="100vh">
            </a>
            <a href="https://www.instagram.com/anggriows/" target="_blank">
                <img src="{% static 'Assets/Facebook.png' %}" class="float-right" alt="Facebook Logo" height="100vh">
            </a>
            <a href="https://www.linkedin.com/in/anggriosutopo/" target="_blank">
                <img src="{% static 'Assets/LinkedIn.png' %}" class="float-right" alt="LinkedIn Logo" height="100vh">
            </a>
            <a href="https://steamcommunity.com/profiles/76561198243590840/" target="_blank">
                <img src="{% static 'Assets/Steam.png' %}" class="float-right" alt="Steam Logo" height="100vh">
            </a>
            <a href="https://twitter.com/AnggrioW" target="_blank">
                <img src="{% static 'Assets/Twitter.png' %}" class="float-right" alt="Twitter Logo" height="100vh">
            </a>
        </div>
    </div>
{% endblock %}