{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Description</title>
{% endblock %}

{% block content %}
    <div class="col-md-auto">
        <div class="row">
            <div class="col-md-auto">
                <p class="text-center px-2 about">
                    <strong>About Me</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <p class="text-justify px-2 description">
                    Anggrio Wildanhadi Sutopo is a university student currently studying at the Faculty of Computer Science in Universitas Indonesia.
                    He grew up in Jakarta with his family who nurtured his interest in computer programming.
                    At the age of 16 during his second year in high school, he won 2nd place at a game development competition held by the Swiss German
                    University. Since his freshman year in university, he has joined various organizations and activities, including becoming a member
                    of the Faculty’s Student Executive Board, a member of the Indie Game Design Commitee for COMPFEST 11, and the Teaching Assitant
                    Coordinator for the Introduction to Digital Systems course. This semester, he is assigned as the Teaching Assistant Coordinator
                    for the Introduction to Computer and Organization course.<br>
                    Rio grew up with one older brother who is currently studying Film and Cinema in Australia. His father is the current President
                    Director of PT Penjaminan Infrastruktur Indonesia. His mom is the current leader of the company’s housewife association.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="float-right px-2 about">
                    <strong>Interests</strong>
                </p>
            </div>
        </div>
        <div class="row mr-1 border-container2">
            <div class="col-md-auto py-2 about">
                <img src="{% static 'Assets/Java.png' %}" class="float-right" alt="Java Logo" height="80vh">
                <img src="{% static 'Assets/Unity.png' %}" class="float-right" alt="Unity Logo" height="80vh">
                <img src="{% static 'Assets/Dota 2.png' %}" class="float-right" alt="DOTA 2 Logo" height="80vh">
                <img src="{% static 'Assets/CSGO.png' %}" class="float-right" alt="CSGO Logo" height="80vh">
            </div>
        </div>
    </div>
{% endblock %}