{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Friends Form</title>
{% endblock %}

{% block content %}
<div class="container">
    <p class="px-2 text-center about">
        <strong>Want to be my Friend?</strong>
    </p>
    <form id="forms" method="POST">
        {% csrf_token %}
        <label for="{{ form.name.id_for_label }}"  class="about px-4">Name</label>
        {{ form.name }}
        <br>
        <label for="{{ form.hobby.id_for_label }}"  class="about px-4">Hobby</label>
        {{ form.hobby }}
        <br>
        <label for="{{ form.favorite_food_or_drink.id_for_label }}"  class="about px-4">Favorite Food or Drink</label>
        {{ form.favorite_food_or_drink }}
        <br>
        <label for="{{ form.batch_year.id_for_label }}"  class="about px-4">Batch Year</label>
        {{ form.batch_year }}
        <br>
        <button type="submit" class="about">Submit</button>
    </form>
</div>
{% endblock %}