{% extends "base.html" %}
{% load static %}

{% block title %}
<title>My Friends</title>
{% endblock %}

{% block content %}
<div class="container">
    <p class="px-2 text-center about">
        <strong>My Friends</strong>
    </p>
    <div class="row">
        {% for f in friends %}
        <div class="col-6">
            <p class="px-2 description">
                <strong>Name:</strong>
                <br>
                {{ f.name }}
                <br>
                <strong>Hobby:</strong>
                <br>
                {{ f.hobby }}
                <br>
                <strong>Favorite Food or Drink:</strong>
                <br>
                {{ f.favorite_food_or_drink }}
                <br>
                <strong>Batch Year:</strong>
                <br>
                {{ f.batch_year }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}