{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Anggrio Wildanhadi Sutopo</title>
{% endblock %}

{% block content %}
  <div class="col-6">
    <p class="text-right pb-4 pr-4 m-2 greeting">
      <strong>Hello, My name is Anggrio</strong>
    </p>
  </div>
  <div class="col">
    <img src="{% static 'Assets/Self Photo Round.png' %}" class="w-75 mx-auto d-block" alt="Self Photo">
  </div>
{% endblock %}